body {
	background: #7ACFC9;
	height: 500px;
}

img {
	-ms-transform: scale(0.5,0.5); /* IE 9 */
    -webkit-transform: scale(0.5,0.5); /* Chrome, Safari, Opera */
    transform: scale(0.5,0.5);
}

h2 {
	float:left;
}


/* Sarah Todd: */
.banner {
	background: #AACE5A;
	border: 5px solid #4E4E4E;
	height: 150px;
	width: 85%;
	margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
	margin-bottom: 20px;


	font-family: Harrington;
	font-size: 100px;
	color: #152423;
	line-height: 150px;
	text-align: center;

}

.decor {
	background: #D8D8D8;
	border: 5px solid #4E4E4E;
	height: 35;
	font-family: BodoniOrnamentsITCTT;
	font-size: 36px;
	text-align: center;
	color: #152423;
	line-height: 36px;
	width: 95%;
	margin-left: auto;
    margin-right: auto;
	overflow: hidden;
}

.main {
	background: #F3F3DD;
	border: 5px solid #4E4E4E;
	border-top: 0px;
	height: 400px;
	width: 95%;
	margin-left: auto;
    margin-right: auto;

}

.bottom {
	height: 250px;
	text-align: center;
	line-height: 250px;
}

div {
	display: block;
	border: 10px;
}

.contact, .intro, .education, .interests {
	border: 10px;
	float:right;
	display: none;
}

.circles {
	font-family: Harrington;
	font-size: 30pt;
	display: inline-block;
	background: #D8D8D8;
	border: 5px solid #505050;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	line-height: 200px;
}

.circles:hover {
	background: #FFFFFF;


}
