body {
	background: #7ACFC9;
}

img {
	-ms-transform: scale(0.5,0.5); /* IE 9 */
    -webkit-transform: scale(0.5,0.5); /* Chrome, Safari, Opera */
    transform: scale(0.5,0.5);
}

h2 {
	float:left;
}

div {
	display: block;
	border: 10px;
}



/* Sarah Todd: */
.banner {
	background: #AACE5A;
	border: 5px solid #4E4E4E;
	height: 150px;
	width: 85%;
	margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
	margin-bottom: 20px;


	font-family: AppleGothic;
	font-size: 100px;
	color: #152423;
	line-height: 150px;
	text-align: center;

}

.decor {
	background: #D8D8D8;
	border: 5px solid #4E4E4E;
	color: #152423;
	height: 35px;
	width: 80%;
	margin-left: auto;
    margin-right: auto;
	overflow: hidden;

	font-family: BodoniOrnamentsITCTT;
	font-size: 36px;
	text-align: center;
	line-height: 36px;
}

.main {
	background: #F3F3DD;
	border: 5px solid #4E4E4E;
	border-top: 0px;
	border-bottom: 0px;

	height: 400px;
	width: 80%;
	margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.main .left {
	float: left;
	height: 100%;
	width: 50%;

}

.main .right {
	float: right;
	height: 100%;
	width: 50%;
}

.bottom {
	height: 200px;
	text-align: center;
	line-height: 180px;
}

.contact, .intro, .education, .interests {
	border: 10px;
	float:right;
	display: none;
}

.circles {
	font-family: AppleGothic;
	font-size: 20pt;
	display: inline-block;
	background: #D8D8D8;
	border: 5px solid #505050;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	line-height: 150px;
}

.circles:hover {
	background: #AACE5A;


}
