
body{
	background-color: rgb(216,216,216);
}

.bubble {
	border-radius: 50%;
    position: relative;
	-webkit-animation-name: float; 
	-webkit-animation-count:infinite;
	animation-name: float;
	animation-iteration-count:infinite;
	box-shadow: 0px -2px #FFFFFF;
}

#background {
	width: 99%;
	height: 99.9%;
	background-color: rgb(244,95,95);
	overflow: hidden;
	margin: auto;
	position: relative;
}

#cloud {
	right: -7%;
	position: absolute;
	text-align: center;
	z-index: 1;
	opacity: 0.95;
	line-height: 5%;

}

#text {
	z-index: 2;
	margin-top: -55%;
	font-family: Georgia;
	font-size: 72px;
	color: #152423;
}

#banner {
	font-size: 72px;
	color: #152423;
}

#links {
	font-size: 20px;
	color: #152423;
	z-index: 2;
	margin-top: -5%;
}

#contents {
	border-radius: 25%;
	background: #D8D8D8;

}


@-webkit-keyframes float {
	0%   {background: #2E83AF; 
		  top:100%;}
	100% {background: #81FFE4; 
		  top:-5%;}
}
@keyframes float {
	0%   {background: #2E83AF; 
		  top:100%;}
	100% {background: #81FFE4;
		  top:-5%;}
}


@-webkit-keyframes float {
	0%   {background: #2E83AF; 
		  top:100%;}
	100% {background: #81FFE4; 
		  top:-5%;}
}
@keyframes float {
	0%   {background: #2E83AF; 
		  top:100%;}
	100% {background: #81FFE4;
		  top:-5%;}
}

